<div class="headerBody" style="float: none">
    <table width="100%">
        <tbody>
        <tr>
            <td>
                <div>
                    <img src="/images/piggy.webp">
                </div>
            </td>
            <td>
                <div>
                    <p>Экономьте с нами!!!</p>
                    <p>Заправка картриджей в Москве</p>
                </div>
            </td>
        </tr>
        </tbody>
    </table>

</div>


<div class="mainBody">
    <h1 align="center">Заправка картриджей</h1>
    <div>
        <p class="largeSymbols">Заправка картриджей - это реальная возможность значительно сократить свои расходы на печать. Заправка большинства лазерных картриджей, обходится примерно в 10 раз дешевле, чем покупка нового оригинального картриджа.</p>
        <p class="largeSymbols">Наши цены Вас приятно удивят.</p>
        <p class="largeSymbols">Благодаря использованию расходных материалов высокого качества и работе наших квалифицированных специалистов, Ваш картридж печатает как новый.</p>
    </div>
    <h1 align="center">Ремонт картриджей</h1>
    <div>
        <p class="largeSymbols">Поскольку картридж является расходным материалом, его детали при использовании изнашиваются.</p>
        <p class="largeSymbols">Заменив одну изношенную деталь, можно значительно продлить срок службы картриджа и улучшить качество печати.</p>
        <p class="largeSymbols">Поэтому, при необходимости, мы осуществляем ремонт картриджей.</p>
        <p class="largeSymbols">Стоимость ремонта зависит от модели картриджа и того, какую деталь нужно заменить.</p>
    </div>
</div>