<!DOCTYPE html>
<html lang="ru">
  <head>
      <meta charset="UTF-8">
      <title>{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src="/javascripts/functions/validateFormFields.js"></script>
      <script src="/javascripts/functions/catalog.js"></script>
  </head>
  <body>
    <!--<video autoplay="true" loop>-->
        <!--<source src="/images/file.mp4" type="video/mp4">-->
        <!--<source src="/images/file.webm" type="video/webm">-->
    {{{body}}}
    <!--</video>-->
  </body>
</html>
