<h1>{{header}}</h1>
<div>
    {{{table}}}
</div>
<div style="margin-top: 25.0px">
    <button onclick="newPrinterRecord()">Добавить новую запись</button>
</div>
<div style="margin-top: 25.0px"v>
    <button onclick="backToCartridges()">Вернуться к картриджам</button>
</div>